@(winner: String, humanIp: String, compOut: Option[String])

<a href='@controllers.routes.HomeController.apple("rock")'
   id="registered-edit1"><button class="button button1">ROCK</button></a>

<a href='@controllers.routes.HomeController.apple("paper")'
   id="registered-edit2"><button>PAPER</button></a>

<a href='@controllers.routes.HomeController.apple("scissors")'
   id="registered-edit3"><button>SCISSORS</button></a>

<a href='@controllers.routes.HomeController.apple("dynamite")'
   id="registered-edit4"><button>DYNAMITE</button></a>

<a href='@controllers.routes.HomeController.apple("waterbomb")'
   id="registered-edit5"><button>WATERBOMB</button></a>
<br>
<br>
  You Played: @humanIp
<br>

Computer Played: @compOut

<br>
<h1>@winner</h1>
<br>




